In [26]:
Halo ini sesi satu.

SyntaxError: invalid syntax (311837571.py, line 1)

In [5]:
# Output

print("Hello World!")

Hello World!

In [6]:
# Input

print("Please Enter Your Name: ")

Please Enter Your Name:

In [28]:
# Operator
# + - / % *

# ** digunakan untuk pemangkatan

# // digunakan untuk membagi tanpa menghasilkan sisa
# 5 / 2 = 2.5
# 5 // 2 = 2

print(21 / 4)
print(21 // 4)

print(2*3)
print(2**3)

num = 10
num += 3
print(num)

num1 = 10
num1 **= 2
print(num1)

5.25
5
6
8
13
100

In [27]:
# Booelan 
# and or not
a = True
b = False

print(a and b)
print(a or b)
print(not a or b)

False
True
False

In [9]:
# Variable

name = "max"
print(name)

age = input("Please Enter Your Age: ")
print("My Age is " + age)

name = 0
print(name) # Flexible variable (ga perlu declare interger atau char)

max
My Age is a
0

In [25]:
# Selection

num = 3
if num < 3: 
    print("Num is Smaller than 3.")
elif num > 3:
    print("num is Bigger than 3.")
elif num == 3:
    print("Num is 3.")
else:
    print("Hytam !")

Num is 3.

In [ ]:
# Switch

number = 1

match number:
    case 1:
        print("Num is 1.")
    case 2:
        print("Num is 2.")

In [38]:
# Repetition

# range(1, 6) -> [1, 2, 3, 4, 5]
for i in range(1, 6):
    print("Hello!")

a = 3

while a > 0:
    print("Hi!")
    a -= 1

Hello!
Hello!
Hello!
Hello!
Hello!
Hi!
Hi!
Hi!

In [40]:
def sum (a, b):
    result = a + b
    return result

# Bisa ngereturn apa aja / ga ngereturn apa2
def test(a):
    if a == 1:
        return 1
    if a == 2:
        return "a"
    if a == 3:
        print("a")

print(sum(1, 2))

3

In [86]:
# List, Set, tuple, Dictionary


# Mutable => List bisa diubah
# Ordered => List dapat diurutkan

#List (Mutable, Ordered)
my_list = [1, -2, 3.4, "Hello!", True]
print(my_list[3])

my_list[0] = 0
print(my_list)

my_list.append(1)   # nambahin data di head
print(my_list)

my_list.insert(1, False)
print(my_list)

my_list.remove(True)
print(my_list)

Hello!
[0, -2, 3.4, 'Hello!', True]
[0, -2, 3.4, 'Hello!', True, 1]
[0, False, -2, 3.4, 'Hello!', True, 1]
[0, False, -2, 3.4, 'Hello!', 1]

In [131]:
# Set (Mutable, Unordered)
my_set = {1, -2, 3.4, "Hello!", True}
print(my_set)

print(1 in my_set)

my_set.add(10)
print(my_set)

my_set.update({1, 2, -1})
print(my_set)

my_set.remove(-1)
print(my_set)

{1, 3.4, 'Hello!', -2}
True
{1, 3.4, 10, 'Hello!', -2}
{1, 2, 3.4, 10, 'Hello!', -1, -2}
{1, 2, 3.4, 10, 'Hello!', -2}

In [132]:
# Tuple (Imutable, Ordered)
my_tuple = (1, 2)

print(my_tuple[1])  # Ga bisa di apa2in

2

In [6]:
# Dictionary (key value) => Kaya struct

mahasiswa = {
    "nim": 1234567890,
    "nama": "Max",
    "isDropOut": True,
    "gpa": 3.2
}

print(mahasiswa["nama"])

mahasiswa.update({"gpa": 4.0})

Max

In [142]:
number_list = [2, 3, 4, 5, 7]

print(number_list[0:3])

print(number_list[2:5])

[2, 3, 4]
[4, 5, 7]